.contenedor-card-ejercicio {
    max-width: 100%;
    width: 96%;
    min-width: 280px;
    min-height: 285px;
    border: silver solid thin;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 10px;
    scroll-behavior: auto;
    padding-left: 5px;
    margin-right: 10px;
    
}

.contenedor-card-ejercicio-pregunta{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.imagen-card-ejercicio{
    margin-left: 20px;
    margin-right: 0px;
    background-color: #2262B4;
    width: 250px;
    height: 180px;
    min-width: 250px;
    min-height: 180px;
    border-radius: 5px;
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
}


.pregunta-card-ejercicio{
    font-size: 18px;
    text-align: justify;
    margin-right: 20px;
    margin-left: 20px;
    font-weight: bold;
    min-height: 20px;
    line-height: 1;
    vertical-align: text-top;
}

.numero-card-ejercicio{
    font-size: 20px;
    text-align: justify;
    margin-right: 20px;
    margin-left: 25px;
    font-weight: bold;
    color: #18529D;
    min-height: 20px;
    line-height: 1;
    vertical-align: text-top;
}

.respuesta-ejercicio{
    display: block;
    margin-left: 35px;
    font-size: 16px;
    line-height: 1.7;
}

.formulario-ejercicio {
    display: flex;
    flex-direction: column;
    
}

.contenedor-boton-ejercicio {
    display: flex;
    justify-content: flex-end; 
    width: 100%;
}

.boton-ejercicio{
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    margin-top: 15px;
    margin-right: 15px;
    background-color: #18529D;
    border: #18529D ;
    border-radius: 5px;
    width: 30%;
    height: 30px;
    margin-bottom: 5px;
}

.boton-ejercicio:hover{
    background-color:#2262B4
}

.retroalimentacion-card-ejercicio{
    font-size: 18px;
    text-align: justify;
    margin-right: 20px;
    margin-left: 20px;
    min-height: 120px;
    border-radius: 5px;
    padding: 8px;
    border: #38C769 solid thin;
    background-color: #E8FFF0 ;
    vertical-align: text-top;
}

.titulo-retroalimentacion{
    text-align: center;
    margin-top: 2px;
    margin-bottom: 5px;
}

.retroalimentacion-error {
    border: #AF1818 solid thin;
    background-color: #FFCDCD ;
}
