.titulo-info-recursos {
    font-weight: bold;
    font-size: 28px;
}

.contenedor-descripcion-recursos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.descripcion-info-recursos {
    font-size: 18px;
    text-align: justify;
    margin-right: 20px;
}

.imagen-info-recursos {
    width: 250px;
    height: 180px;
    border-radius: 5px;
}

.unidades-info-recursos {
    font-weight: bold;
    font-size: 24px;
}

.divisor-recursos {
    margin-right: 20px;
}