.titulo-unidad {
    font-weight: bold;
    font-size: 28px;
}

.contenedor-contenido-unidad{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    margin-top: 5px;
}

.contenido-unidad{
    font-size: 16px;
    margin-right: 20px;
    margin-top: 5px;
}

.contenido-unidad-ejercicio{
    font-size: 16px;
    text-align: justify;
    margin-right: 20px;
    margin-top: 5px;
    line-height: 1;
}

.imagen-unidad {
    width: 250px;
    height: 180px;
    border-radius: 5px;
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
}



.boton-unidad{
    max-width: 35%;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    background-color: #18529D;
    border: #18529D ;
    border-radius: 5px;
    width: 40%;
    margin-inline: 10px;
    height: 30px;
}

.boton-unidad:hover{
    background-color: #2262B4;
}

.contenedor-cambio-unidad{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    color: black;
}

.contenedor-cambio{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    margin-bottom: 40px;
    color: black;
}

.boton-cambio{
    margin-right: 10px;
    border-radius: 3px;
    border-color: #18529D;
    border-style: solid;
    border-width: thin;
    font-weight: bold;
    color: #18529D;
    font-size: 14px;
    padding: 5px;
    width: 48%;
}

.boton-cambio:hover{
    background-color: #18529D;
    color: #FFFFFF;
    
}

.conjunto-ejercicios{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}