body{
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "Radio Canada Big", sans-serif;
  
}

code{
  font-family: "Courier Prime", monospace;
}